  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/assets/logos/logo_cirmar_small.png" style="margin-top: -10px; margin-left: 10px;">
          </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
<!--        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li> -->
        <li><a href="/stats">Stats</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AIS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/messages">Messages</a></li>
            <li><a href="/covered_ships">Covered Ships</a></li>
          </ul>
        </li>
        <li><a href="/ships">Ships</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metadonnees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/metadonnees">Liste de métadonnées</a></li>
            <li><a href="/metadonnees/new">Fiche métadonnées</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome!</a></li>
        <li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
  <br/>
  <br/>
  <br/>
	<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Messages received by ship id <%= params[:id] %></h4>
      </div>
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
        <div class="row">
          <div class="col-sm-6">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>                            
                <% locs = [] 
                  @messages.each do |message| 
                    if message.message_type != 5 
                      locs.push(['01', message.latitude, message.longitude])
                    end
                    %>
                  <tr>
                    <td><%= message.message_type %></td>
                    <td><%= if message.has_attribute?("latitude") 
                                            message.latitude
                                      end %>
                    </td>
                    <td><%= if message.has_attribute?("longitude") 
                                            message.longitude 
                                      end %>
                    </td>
                    <td><%= link_to 'Show', message %></td>
                  </tr>
                <% end %>
              </tbody>                          
            </table>
          </div>
          <div class="col-sm-6">
            <div id="map">
            </div>
          </div>
          <p align="right">
            <%= link_to 'Back', ships_path %>
          </p>
          <%= javascript_tag "locations = #{locs[0..10].to_json.html_safe};" %>
	        </div>
	      </div>         
    </div>
  </div>
</div>

<script type="text/javascript">
  
  if(locations.length > 0){ 
    function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 20,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) { 
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          title: locations[i][1] + " , " + locations[i][2] 
        });

        //extend the bounds to include each marker's position
        bounds.extend(marker.position);

        //now fit the map to the newly inclusive bounds
        map.fitBounds(bounds);

      }
    }
  }
</script>