    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CIRMAR Projet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if user_signed_in? %>
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenu! <span class="caret"></span></a>
                                  <ul class="dropdown-menu" style="background-color: #E7E7E7;">
                                    <li><a href="/messages" >Messages</a></li><!-- style="color: #555;" -->
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/users/sign_out">Log Out</a></li>
                                  </ul>
                                </li>
                    <% end %>  
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="row">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>      	      	
	<div class="col-sm-1">
	</div>
	<div class="col-sm-10">
		<div class="panel panel-primary">
  		<div class="panel-heading">
        <h4 class="panel-title">Le Détail</h4>
  		</div>
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
          <% case @message.message_type
              when 1..3
            %>
        				<p>
        				  <strong>Type:</strong>
        				  <%= @message.message_type %>
        				</p>

        				<p>
        				  <strong>Repeat Indicator:</strong>
        				  <%= @message.repeat_indicator %>
        				</p>

        				<p>
        				  <strong>MMSI:</strong>
        				  <%= @message.mmsi %>
        				</p>
                <p>
                  <strong>Navigation Status:</strong>
                  <%= @message.navigation_status %>
                </p>

                <p>
                  <strong>Rate of Turn:</strong>
                  <%= @message.rate_of_turn %>
                </p>

                <p>
                  <strong>Speed Over Ground:</strong>
                  <%= @message.speed_over_ground %>
                </p>

                <p>
                  <strong>Position Accuracy:</strong>
                  <%= @message.position_accuracy %>
                </p>
                <p>
                  <strong>Longitude:</strong>
                  <%= @message.longitude %>
                </p>
                <p>
                  <strong>Latitude:</strong>
                  <%= @message.latitude %>
                </p>

                <p>
                  <strong>Course Over Ground:</strong>
                  <%= @message.course_over_ground %>
                </p>

                <p>
                  <strong>True Heading:</strong>
                  <%= @message.true_heading %>
                </p>
                <p>
                  <strong>Maneuver Indicator:</strong>
                  <%= @message.maneuver_indicator %>
                </p>

                <p>
                  <strong>Spare:</strong>
                  <%= @message.spare %>
                </p>

                <p>
                  <strong>RAIM:</strong>
                  <%= @message.raim %>
                </p>
                <p>
                  <strong>UTC Sec:</strong>
                  <%= @message.utc_sec %>
                </p>
                <p>
                  <strong>Received Date:</strong>
                  <%= @message.date %>
                </p>
              <% when 4 %>
                <p>
                  <strong>Type:</strong>
                  <%= @message.message_type %>
                </p>

                <p>
                  <strong>Repeat Indicator:</strong>
                  <%= @message.repeat_indicator %>
                </p>

                <p>
                  <strong>MMSI:</strong>
                  <%= @message.mmsi %>
                </p>
                <p>
                  <strong>Latitude:</strong>
                  <%= @message.latitude %>
                </p>
                <p>
                  <strong>Longitude:</strong>
                  <%= @message.longitude %>
                </p>
                <p>
                  <strong>Spare:</strong>
                  <%= @message.spare %>
                </p>

                <p>
                  <strong>RAIM Flag:</strong>
                  <%= @message.raim_flag %>
                </p>
                <p>
                  <strong>Year:</strong>
                  <%= @message.year %>
                </p>
                <p>
                  <strong>Month:</strong>
                  <%= @message.month %>
                </p>
                <p>
                  <strong>Day:</strong>
                  <%= @message.day %>
                </p>

                <p>
                  <strong>Hour:</strong>
                  <%= @message.hour %>
                </p>

                <p>
                  <strong>Minute:</strong>
                  <%= @message.minute %>
                </p>
                <p>
                  <strong>Second:</strong>
                  <%= @message.second %>
                </p>
                <p>
                  <strong>mDate:</strong>
                  <%= @message.mDate %>
                </p>
                <p>
                  <strong>Sub Messages:</strong>
                  <%= @message.sub_messages %>
                </p>

                <p>
                  <strong>Position Accuracy:</strong>
                  <%= @message.position_accuracy %>
                </p>
                <p>
                  <strong>Slot Timeout:</strong>
                  <%= @message.slot_timeout %>
                </p>
                <p>
                  <strong>Sync State:</strong>
                  <%= @message.sync_state %>
                </p> 
                <p>
                  <strong>Received Date:</strong>
                  <%= @message.date %>
                </p>                                                   
      <%   when 5 %>
                <p>
                  <strong>Type:</strong>
                  <%= @message.message_type %>
                </p>

                <p>
                  <strong>Repeat Indicator:</strong>
                  <%= @message.repeat_indicator %>
                </p>

                <p>
                  <strong>MMSI:</strong>
                  <%= @message.mmsi %>
                </p>

                <p>
                  <strong>Spare:</strong>
                  <%= @message.spare %>
                </p>
                <p>
                  <strong>AIS Version:</strong>
                  <%= @message.ais_version %>
                </p>

                <p>
                  <strong>IMO Number:</strong>
                  <%= @message.imo_number %>
                </p>

                <p>
                  <strong>Call Sign:</strong>
                  <%= @message.call_sign %>
                </p>

                <p>
                  <strong>Vessel Name:</strong>
                  <%= @message.vessel_name %>
                </p>
                <p>
                  <strong>Ship Type:</strong>
                  <%= @message.ship_type %>
                </p>
                  <strong>Dimension Bow:</strong>
                  <%= @message.dimension_bow %>
                </p>

                <p>
                  <strong>Dimension Stern:</strong>
                  <%= @message.dimension_stern %>
                </p>

                <p>
                  <strong>Dimension Port:</strong>
                  <%= @message.dimension_port %>
                </p>
                <p>
                  <strong>Dimension Starboard:</strong>
                  <%= @message.dimension_starboard %>
                </p>   

                <p>
                  <strong>Position Type:</strong>
                  <%= @message.position_type %>
                </p>

                <p>
                  <strong>ETA Date:</strong>
                  <%= @message.eta_date %>
                </p>

                <p>
                  <strong>Draught:</strong>
                  <%= @message.draught %>
                </p>

                <p>
                  <strong>Destination:</strong>
                  <%= @message.destination %>
                </p>
                <p>
                  <strong>DTE:</strong>
                  <%= @message.dte %>
                </p>
                <p>
                  <strong>Received Date:</strong>
                  <%= @message.date %>
                </p>
       <% when 18 %>

                <p>
                  <strong>Message Type:</strong>
                  <%= @message.message_type %>
                </p>

                <p>
                  <strong>Repeat Indicator:</strong>
                  <%= @message.repeat_indicator %>
                </p>

                <p>
                  <strong>MMSI:</strong>
                  <%= @message.mmsi %>
                </p>     

                <p>
                  <strong>Speed Over Ground:</strong>
                  <%= @message.speed_over_ground %>
                </p>
                <p>
                  <strong>Mode Flag:</strong>
                  <%= @message.mode_flag %>
                </p>                
                <p>
                  <strong>Comm State:</strong>
                  <%= @message.comm_state %>
                </p>                
                <p>
                  <strong>Comm State Selector Flag:</strong>
                  <%= @message.comm_state_selector_flag %>
                </p> 
                <p>
                  <strong>Position Accuracy:</strong>
                  <%= @message.position_accuracy %>
                </p>
                <p>
                  <strong>Latitude:</strong>
                  <%= @message.latitude %>
                </p>
                <p>
                  <strong>Longitude:</strong>
                  <%= @message.longitude %>
                </p>

                <p>
                  <strong>Course Over Ground:</strong>
                  <%= @message.course_over_ground %>
                </p>     

                <p>
                  <strong>True Heading:</strong>
                  <%= @message.true_heading %>
                </p>
                <p>
                  <strong>RAIM Flag:</strong>
                  <%= @message.raim_flag %>
                </p>
                <p>
                  <strong>Display Flag:</strong>
                  <%= @message.display_flag %>
                </p>  
                <p>
                  <strong>DSC Flag:</strong>
                  <%= @message.dsc_flag %>
                </p>

                <p>
                  <strong>Band Flag:</strong>
                  <%= @message.band_flag %>
                </p> 
                <p>
                  <strong>Unit Flag:</strong>
                  <%= @message.unit_flag %>
                </p> 
                <p>
                  <strong>Msg22 Flag:</strong>
                  <%= @message.msg22_flag %>
                </p> 

                <p>
                  <strong>Spare:</strong>
                  <%= @message.spare %>
                </p>
                <p>
                  <strong>UTC Sec:</strong>
                  <%= @message.utc_sec %>
                </p>
                <p>
                  <strong>Received Date:</strong>
                  <%= @message.date %>
                </p>     
          <% when 19 %>

                <p>
                  <strong>Message Type:</strong>
                  <%= @message.message_type %>
                </p>

                <p>
                  <strong>Repeat Indicator:</strong>
                  <%= @message.repeat_indicator %>
                </p>

                <p>
                  <strong>MMSI:</strong>
                  <%= @message.mmsi %>
                </p>     
                <p>
                  <strong>Spare 1:</strong>
                  <%= @message.spare1 %>
                </p>
                <p>
                  <strong>Spare 2:</strong>
                  <%= @message.spare2 %>
                </p>
                <p>
                  <strong>Spare 3:</strong>
                  <%= @message.spare3 %>
                </p>
                <p>
                  <strong>Speed Over Ground:</strong>
                  <%= @message.speed_over_ground %>
                </p>

                <p>
                  <strong>Position Accuracy:</strong>
                  <%= @message.position_accuracy %>
                </p>
                <p>
                  <strong>Latitude:</strong>
                  <%= @message.latitude %>
                </p>
                <p>
                  <strong>Longitude:</strong>
                  <%= @message.longitude %>
                </p>

                <p>
                  <strong>Course Over Ground:</strong>
                  <%= @message.course_over_ground %>
                </p>     

                <p>
                  <strong>True Heading:</strong>
                  <%= @message.true_heading %>
                </p>
                <p>
                  <strong>UTC Sec:</strong>
                  <%= @message.utc_sec %>
                </p>
                <p>
                  <strong>Vessel Name:</strong>
                  <%= @message.vessel_name %>
                </p>
                <p>
                  <strong>Ship Type:</strong>
                  <%= @message.ship_type %>
                </p>
                  <strong>Dimension Bow:</strong>
                  <%= @message.dimension_bow %>
                </p>

                <p>
                  <strong>Dimension Stern:</strong>
                  <%= @message.dimension_stern %>
                </p>

                <p>
                  <strong>Dimension Port:</strong>
                  <%= @message.dimension_port %>
                </p>
                <p>
                  <strong>Dimension Starboard:</strong>
                  <%= @message.dimension_starboard %>
                </p>
                <p>
                  <strong>Position Type:</strong>
                  <%= @message.position_type %>
                </p>
                <p>
                  <strong>RAIM:</strong>
                  <%= @message.raim %>
                </p>
                <p>
                  <strong>RAIM Flag:</strong>
                  <%= @message.raim_flag %>
                </p>
                <p>
                  <strong>DTE:</strong>
                  <%= @message.dte %>
                </p>
                <p>
                  <strong>Mode Flag:</strong>
                  <%= @message.mode_flag %>
                </p>
                <p>
                  <strong>Received Date:</strong>
                  <%= @message.date %>
                </p>                                                                                                                       
            <% end %>
				<p align="right">
				<!-- <%= link_to 'Edit', edit_message_path(@message) %> | -->
				<%= link_to 'Back', messages_path %>
				</p>
			</div>
		</div>
	</div>
      	<div class="col-sm-1">
      	</div>
</div>
